
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/header :: header-css" />

<!-- Uncomment this part if you want to use codesnippet feature of CKEditor to show in target page.
<link href="../../ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet" />
<script src="../../ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script> -->
</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container">

		<div th:replace="fragments/customMessage :: message"></div>

		<span th:remove="tag" th:utext="${usersDto.content} "></span>
 
	</div>

	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>